//Texto sobre imagen principal
$color-text-cabecera: azure;
$font-family-cabecera: 'Roboto', sans-serif;
$font-size-cabecera: 4rem;
$height-cabecera: 550px;

//Texto sobre caja de fotos pagina inicio
$font-family-inicio: 'Roboto', sans-serif;
$font-size-inicio: 2rem;
